
:root {
    --main-color: #30bd82;
    --black-color: #13131a;
    --bg-color: #010103;
    --gold-color: #BB8B12;
    --section-bg-color: #13131A;
    --purple-color: #350048;
    --main-border: .1rem solid rgba(255, 255, 255, .3);
    --border-test: 2px solid red;
    --main-transition: .3s linear;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    background-color: #000;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: .8rem;
    background-color: #000;
}

body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

section {
    width: 70%;
    height: 30%;
    padding: 2rem 7%;
}

a{
    text-decoration: none;
    color: #fff;
}

ul li {
    list-style: none;
}

i {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

i:hover {
    color: var(--main-color);
}

button:hover {
    background-color: var(--main-color) !important;
    transform: scale(1.4,1.4);
    -webkit-transform: scale(1.4,1.4);
    -moz-transform: scale(1.4,1.4);
    -ms-transform: scale(1.4,1.4);
    -o-transform: scale(1.4,1.4);
}


/* Start Header */
body .header-section {
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 1.2rem 7rem;
    border: var(--main-border);
    position: fixed;
    z-index: 999;
}

header .logo h1 {
    font-size: 1.5rem;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

header .logo h1:hover {
    color: var(--main-color);
}

header nav.links ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav.links ul > li {
    margin-left: 20px;
}

header nav.links ul > li > a {
    font-size: 18px;
    letter-spacing: 2px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

header nav.links ul > li > a:hover {
    color: var(--main-color);
}

header .card i {
    margin-left: 10px;
}

header .card i:last-child {
    display: none;
}

.search-container {
    position: absolute;
    top: 100%;
    right: 5%;
    width: 400px;
    height: 80px;
    background-color: #fff;
    padding: 0 20px;
    border-radius: 15px;
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transition: transform .3s linear;
    -webkit-transition: transform .3s linear;
    -moz-transition: transform .3s linear;
    -ms-transition: transform .3s linear;
    -o-transition: transform .3s linear;
}

.search-container input {
    width: 80%;
    height: 65%;
    border: 2px solid #000;
    border-radius: 15px;
    font-size: 1.5rem;
    padding-left: 15px;
}

.search-container input::placeholder {
    text-align: center;
}

.search-container i {
    color: #000;
}

.search-container.active {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.cart-sidebar {
    width: 25%;
    position: absolute;
    right: 11px;
    top: 100%;
    background-color: #DDD;
    padding: 2rem;
    border-radius: 0.8rem 0 0.8rem 0.8rem;
    -webkit-border-radius: 0.8rem 0 0.8rem 0.8rem;
    -moz-border-radius: 0.8rem 0 0.8rem 0.8rem;
    -ms-border-radius: 0.8rem 0 0.8rem 0.8rem;
    -o-border-radius: 0.8rem 0 0.8rem 0.8rem;
    transition: transform .3s linear;
    -webkit-transition: transform .3s linear;
    -moz-transition: transform .3s linear;
    -ms-transition: transform .3s linear;
    -o-transition: transform .3s linear;
    transform: translateX(105%);
    -webkit-transform: translateX(105%);
    -moz-transform: translateX(105%);
    -ms-transform: translateX(105%);
    -o-transform: translateX(105%);
}

.cart-sidebar .cart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-bottom: 10%;
    position: relative;
}

.cart-sidebar .cart::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -15px;
    background-color: #000;
}

.cart-sidebar .cart h4 {
    margin-top: 20px;
    color: var(--main-color);
    font-size: 1.5rem;
}

.cart-sidebar .cart i {
    color: #000;
}

.cart-sidebar img {
    width: 120px;
    height: 120px;
    cursor: pointer;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

.cart-sidebar img:hover {
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
}

.cart-sidebar a button{
    margin-top: 5%;
    padding: 15px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: var(--main-transition);
    border-radius: 20px;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.cart-sidebar.active {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.nav-sidebar {
    width: 25%;
    height: 55vh;
    position: absolute;
    right: 11px;
    top: 100%;
    background-color: #DDD;
    padding: 2rem;
    border-radius: 0.8rem 0 0.8rem 0.8rem;
    -webkit-border-radius: 0.8rem 0 0.8rem 0.8rem;
    -moz-border-radius: 0.8rem 0 0.8rem 0.8rem;
    -ms-border-radius: 0.8rem 0 0.8rem 0.8rem;
    -o-border-radius: 0.8rem 0 0.8rem 0.8rem;
    transition: transform .3s linear;
    -webkit-transition: transform .3s linear;
    -moz-transition: transform .3s linear;
    -ms-transition: transform .3s linear;
    -o-transition: transform .3s linear;
    transform: translateX(105%);
    -webkit-transform: translateX(105%);
    -moz-transform: translateX(105%);
    -ms-transform: translateX(105%);
    -o-transform: translateX(105%);
}

.nav-sidebar.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.nav-sidebar ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
}

.nav-sidebar ul li {
    width: 100%;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
}

/* End Header */

/* Start Hero/Home */

.hero-section {
    width: 100%;
    height: 94.1%;
    background-image: url(../images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.hero-section h1 {
    font-size: 1.7rem;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 30px;
}

.hero-section h3 {
    font-size: 1.3rem;
    color: var(--main-color);
    margin-bottom: 30px;
}

.hero-section button {
    font-size: 1.2rem;
    padding: 10px 20px;
    color: #fff;
    background-color: var(--gold-color);
    border: none;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

/* End Hero/Home */

/* Start About */
.about-section {
    position: relative;
    padding: unset;
    width: 80%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #fff;
    margin: 8rem auto;
    background-color: var(--section-bg-color);
    border-radius: 15px;
    gap: 5%;
}

.about-section::before{
    content: "About US";
    position: absolute;
    top: -20%;
    left: 50%;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    color: var(--main-color);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.about-section .img {
    width: 50%;
    height: 100%;
}

.about-section .img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.about-section .info {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}

.about-section .info h1 {
    color: var(--gold-color);
}

.about-section .info p {
    font-weight: bold;
    line-height: 30px;
    width: 85%;
}

.about-section .info button {
    font-size: 1.2rem;
    padding: 10px 20px;
    color: #fff;
    background-color: var(--gold-color);
    border: none;
    cursor: pointer;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

/* End About */

/* Start Experience */
.experience-section {
    position: relative;
    padding: 0 20%;
    width: 70%;
    height: 65%;
    gap: 10%;
    color: #fff;
    margin: 8rem auto;
    background-color: var(--purple-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.experience-section::before{
    content: "Our Experience";
    position: absolute;
    top: -15%;
    left: 50%;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    color: var(--main-color);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.experience-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    top: 50%;
    left: 50%;
    background-color: #BD00FF;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.experience-section .box {
    height: 55%;
    background-color: #ffffff1f;
    border: var(--main-border);
    backdrop-filter: blur(10px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 20%;
    z-index: 10;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.experience-section .box::before {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 15px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.experience-section .box h2 {
    font-size: 2rem;
}

.experience-section .box::after {
    content: "html";
    position: absolute;
    bottom: -10%;
    left: 50%;
    width: 50%;
    padding: 5%;
    background-color: darkseagreen;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 5px;
    cursor: pointer;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: .8em;
    -webkit-border-radius: .8em;
    -moz-border-radius: .8em;
    -ms-border-radius: .8em;
    -o-border-radius: .8em;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.experience-section .box:nth-child(2)::after {
    content: "CSS";
}

.experience-section .box:nth-child(3)::after {
    content: "Javascript";
    width: fit-content;
    font-size: 1.5rem;
}

/* End Experience */


/* Start Services */
.services-section {
    width: 85%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 0 5rem;
    color: #fff;
    position: relative;
}

.services-section::before {
    content: "Our Services";
    position: absolute;
    top: -5%;
    left: 50%;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    color: var(--main-color);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.services-section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 25%;
}

.services-section header i {
    border: var(--main-border);
    padding: 5px;
}

.services-section .box {
    width: 30%;
    height: 80%;
    border: var(--main-border);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 3rem;
    padding: 5% 0;
    position: relative;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.services-section .box main {
    text-align: center;
}

.services-section .box img {
    width: 120px;
    cursor: pointer;
    margin-bottom: 20px;
}

.services-section .box main i {
    color: var(--main-color);
}

.services-section .box footer h3 {
    font-size: 2rem;
}

.services-section .box footer span{
    font-size: 1.5rem;
    display: inline-block;
    text-decoration: line-through;
    color: red;
}
/* End Services */

/* Start Contact Section */

.contact-section {
    height: 45%;
    margin: 5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #333;
    position: relative;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.contact-section::before {
    content: "Contact Us";
    position: absolute;
    top: -5rem;
    left: 50%;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 5px;
    color: var(--main-color);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.contact-section .map {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
}

.contact-section .map iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.contact-section .form {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
    color: #fff;
}

.contact-section .form .title {
    font-size: 2.3rem;
    text-transform: capitalize;
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
}

.contact-section .form > .input {
    width: 100%;
    text-align: center;
}

.contact-section .form > .input input {
    width: 65%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    font-size: 1.2rem;
}

.contact-section .form > .input input::placeholder {
    text-align: center;
    color: #DDD;
    font-size: 1.2rem;
    letter-spacing: 2px;
}


.contact-section .form button{
    padding: 10px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: var(--gold-color);
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

/* End Contact Section */

/* Start Footer */

footer.footer-section {
    width: 65%;
    height: 350px;
    position: relative;
    bottom: 0;
    background-color: #13131A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto 20px;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
}

footer.footer-section .social-icons {
    position: absolute;
    top: 10%;
}

footer.footer-section .social-icons i {
    font-size: 2rem;
    padding: 10px;
    margin-left: 10px;
    border: var(--main-border);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

footer.footer-section nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer.footer-section nav a {
    width: 100px;
    border: var(--main-border);
    padding: 15px 5px;
    text-align: center;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

footer.footer-section nav a:hover {
    background-color: var(--main-color);
}

footer.footer-section .copyrights {
    position: absolute;
    bottom: 10%;
}

.copyrights {
    color: #fff;
}
.copyrights span a {
    color: var(--main-color);
}
/* End Footer */